<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory="var/phpunit">
    <testsuites>
        <testsuite name="Voyager Page Map">
            <directory suffix="Test.php">tests</directory>
            <directory suffix="Tests.php">tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
